<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209852250192-kk6i5hs8tqbjdp3sa47kuu5sllrm92g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209852250192-kk6i5hs8tqbjdp3sa47kuu5sllrm92g4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209852250192-4teq79a4bmcg9hcvuimm8fg0e6pcp8rh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBH-raeW8tHapueKSP2qpqq6RpIbWWGsVs</string>
	<key>GCM_SENDER_ID</key>
	<string>209852250192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oshogunle.readingRetentionTool</string>
	<key>PROJECT_ID</key>
	<string>readingtool-479e1</string>
	<key>STORAGE_BUCKET</key>
	<string>readingtool-479e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209852250192:ios:4ad8a2c6ae9e0ff8ae7955</string>
	<key>DATABASE_URL</key>
	<string>https://readingtool-479e1.firebaseio.com</string>
</dict>
</plist>